<!--<footer id="footer_table">-->
<!--  <table class ="footerTable">-->
<!--    <tr>-->
<!--      <td>-->
<!--        <a href="index.php">Home</a>-->
<!--      </td>-->
<!--      <td>-->
<!--        <a href="useful_info.php">About Us</a>-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>-->
<!--        <a href="login_form.php">Log in</a>-->
<!--      </td>-->
<!--      <td><a href="#">Privacy Policy</a></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>-->
<!--        <a href="Register.php">Register</a>-->
<!--      </td>-->
<!--      <td><a href="#">Terms And Conditions</a></td>-->
<!--    </tr>-->
<!--  </table>-->
<!--  <table class ="footerImages">-->
<!--    <tr>-->
<!--      <td>-->
<!--        <a href="https://www.facebook.com/">-->
<!--          <img src="../../assets/facebook.png"  width="50px"/>-->
<!--        </a>-->
<!--      </td>-->
<!--      <td>-->
<!--        <a href="https://twitter.com/?lang=en">-->
<!--          <img src="../../assets/twitter.png" width="50px"/>-->
<!--        </a>-->
<!--      </td>-->
<!--      <td>-->
<!--        <a href="https://www.youtube.com/">-->
<!--          <img src="../../assets/yout.png" width="50px">-->
<!--        </a>-->
<!--      </td>-->
<!--    </tr>-->
<!--  </table>-->
<!--  <tfoot>-->
<!--    <p>&copy; Copyright 2018</p>-->
<!--    <p>-->
<!--      Icons made by-->
<!--     <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a>-->
<!--     from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>-->
<!--    </p>-->
<!--  </tfoot>-->
<!--</footer>-->
