<main>

  <section class="mb-2">
    <h5>Developer</h5>
    <p>Andrei Catalin Negura (C16733435)</p>
  </section>

  <section class="mb-2">
    <h5>Contact Details</h5>
    <p>E-mail: negura.a.catalin@gmail.com</p>

    <p>E-mail: negura_a_c@yahoo.com</p>
    <p>Mobile phone: +353 87 097 6748</p>
  </section>

  <section class="mb-2">
    <h5>Project Name</h5>
    <p>Book Library System</p>
  </section>

  <section class="mb-2">
    <h5>Some words from the developer</h5>
    <p>Thank you for offering us the opportunity to develop these skills!</p>
  </section>
</main>
