<div class="content_wrap">
  <div class="row">

    <div class ="col-lg-6 m_bottom" >
      <form action="" method="post" enctype="multipart/form-data">
        <h4 class="mb-1">Update user details</h4>

        <section class="form-group">
          <article class="row mb-2">
            <div class="col-sm-6">
              <input class="form-control" name = "username" type ="text" placeholder ="New Username" >
            </div>
            <div class="col-sm-6 mt-1">
              <button class="btn btn-secondary" name ="but" formaction="" type="submit">Change Username</button>
            </div>
          </article>
          <article class="row mb-2">
            <div class="col-sm-6">
              <input class="form-control" name = "firstname" type ="text" placeholder ="New Firstname" >
            </div>
            <div class="col-sm-6 mt-1">
              <button class="btn btn-secondary" name ="firstn" formaction="" type="submit">Change Firstname</button>
            </div>
          </article>
          <article class="row mb-2">
            <div class="col-sm-6">
              <input  class="form-control" name = "lastname" type ="text" placeholder ="New Lastname">
            </div>
            <div class="col-sm-6 mt-1">
              <button class="btn btn-secondary" name ="lastn" formaction="" type="submit">Change Lastname</button>
            </div>
          </article>
          <article class="row mb-2">
            <div class="col-sm-6">
              <input class="form-control" name="code" type="text"  placeholder="New Eircom Code" >
            </div>
            <div class="col-sm-6 mt-1">
              <button class="btn btn-secondary" name ="eircome" formaction="" type="submit">Change Eircome</button>
            </div>
          </article>
          <article class="row mb-2">
            <div class="col-sm-6">
              <input class="form-control" name="phone_no"  type="text" placeholder ="New Phone Number" >
            </div>
            <div class="col-sm-6 mt-1">
              <button class="btn btn-secondary" name ="phone" formaction="" type="submit">Change Phone No.</button>
            </div>
          </article>
          <article class="row mb-2">
            <div class="col-sm-6">
<!--              TODO:Add bootstrap class for image type-->
              <input class="custom-file" type="file" name="image">
            </div>
            <div class="col-sm-6">
              <button class="btn btn-secondary" name ="image" formaction="" type="submit">Change Profile Image</button>
            </div>
          </article>
          <article class="row mb-2">
            <div>
              <div class="col-sm-12">
                <strong>If the email is changed you will be logged out!</strong>
              </div>
            </div>
          </article>

          <article class="row mb-2">
            <div class="col-sm-6">
              <input class="form-control" name="email"  type="email" placeholder ="Email" >
            </div>
            <div class="col-sm-6 mt-1">
              <button class="btn btn-secondary" name ="mail" formaction="" type="submit">Change E-mail</button>
            </div>
          </article>
          <article>
            <div>
              <button class="btn btn-secondary" name="pass" formaction=""type="submit">Change Password</button>
              <br>
            </div>
          </article>
        </section>
      </form>
    </div>
  </div>
</div>
