<footer class="my-2 bg-dark rounded">

  <section class="p-3">
    <a href="https://www.facebook.com/">
      <img class="pr-1" src="../../../assets/facebook.png" width="50px"/>
    </a>

    <a href="https://twitter.com/?lang=en">
      <img class="pr-1" src="../../../assets/twitter.png" width="50px"/>
    </a>
    <a href="https://www.youtube.com/">
      <img class="pr-1" src="../../../assets/yout.png" width="50px">
    </a>
  </section>

  <section class="p-3">
    <div class ="row" >
      <div class="col">
        <a class="text-white" routerLink="/">Home</a>
      </div>
      <div class="col">
        <a class="text-white" routerLink="/about">About Us</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a class="text-white" routerLink="/login">Log in</a>
      </div>
      <div class="col">
        <a class="text-white" routerLink="#">Privacy Policy</a>
      </div>
    </div>
    <div class ="row">
      <div class="col">
        <a class="text-white" routerLink="/register">Register</a>
      </div>
      <div class="col">
        <a class="text-white" routerLink="#">Terms And Conditions</a>
      </div>
    </div>
  </section>

  <section class="p-3  text-white">
    <p>&copy; Copyright 2018</p>
    <p>
      Icons made by
     <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a>
     from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    </p>
  </section>

</footer>
